<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T-Web Project Management</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<header>
     <nav>
         <a href="{{ url_for('index') }}"><button class="nav-button-logo"><img src="{{ url_for('static', filename='logo3.png') }}" alt="logo3" id="logo-3"></button></a>
         <a href="{{ url_for('list_projects') }}"><button class="nav-button" id="current-page">MY PROJECTS</button></a>
         <a href="{{ url_for('create_project') }}"><button class="nav-button">CREATE</button></a>
         {% if user %}
         <a href="{{ url_for('logout') }}"><button class="nav-button-login">LOGOUT</button></a>
         <a href="{{ url_for('profile') }}"><button class="nav-button-login">PROFILE</button></a>
         {% else %}
         <a href="{{ url_for('login') }}"><button class="nav-button-login">LOGIN</button></a>
         {% endif %}
    </nav>
</header>
<body>
    <h1>{% if user %}{{user.first_name}}'s{% endif %} User Profile</h1>

    <p class="centered-content-main">Email: {% if user %}{{user.email}}{% endif %}</p>
    <div class="centered-content-main">
        <span id="login/register-prompts">
            <h1>Change Email</h1>
            <div class="formwrapper">
                <form method="POST" action="/profile/email_change" id = "login-prompt" class="login-button">
                    <div class="form-field">{{ form.email.label }} {{ form.email }}
                        {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <button type="submit" class="edit-button">Submit</button>
                </form>
        </span>
    </div>
</body>
</html>
