<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T-Web Project Management</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<header>
     <nav>
         <a href="./index"><button class="nav-button-logo" id="current-page-1"><img src="{{ url_for('static', filename='logo3.png') }}" alt="logo3" id="logo-3"></button></a>
         <a href="./my-projects"><button class="nav-button">MY PROJECTS</button></a>
         <a href="./new-projects"><button class="nav-button">CREATE</button></a>
         <a href="./login"><button class="nav-button-login">LOGIN</button></a>
    </nav>
</header>
<body>
    <div class="centered-content">
        <img src="{{ url_for('static', filename='logo1.png') }}" alt="logo1" id="logo-1"> <br>
        <a href="./login"><button class="login-button">REGISTER/LOGIN</button></a> <br>
        <hr>
        <img src="{{ url_for('static', filename='about-title.png') }}" alt="about" id="about-title"> <br>
        <p>T-Web is an easy-to-use, modern and efficient solution for team-based project management.</p>
    </div>
</body>
</html>
