<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T-Web Project Management</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<header>
     <nav>
         <a href="./index"><button class="nav-button-logo" id="current-page-1"><img src="{{ url_for('static', filename='logo3.png') }}" alt="logo3" id="logo-3"></button></a>
         <a href="./my-projects"><button class="nav-button">MY PROJECTS</button></a>
         <a href="./new-projects"><button class="nav-button">CREATE</button></a>
         <a href="./login"><button class="nav-button-login" id="current-page">LOGIN</button></a>
    </nav>
</header>
<body>
    <div class="centered-content">
        <img src="{{ url_for('static', filename='logo1.png') }}" alt="logo1" id="logo-1"> <br>
        <span id="login/register-prompts">
            <h1>Login</h1>
            <form action="#" id="login-prompt">
                <label>Email:</label><br>
                <input type="text" placholder="example@email.com" name="email" class="input-field" aria-required="true">
                <br>
                <label>Password:</label><br>
                <input type="password" placholder="Enter Password" name="psw" class="input-field" aria-required="true">
            </form>
            <h1>New to T-Web?</h1>
            <a href="./register"><button class="login-button">Register</button></a>
        </span>
    </div>
</body>
</html>
