<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T-Web Project Management</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<header>
     <nav>
         <a href="./index"><button class="nav-button-logo" id="current-page-1"><img src="{{ url_for('static', filename='logo3.png') }}" alt="logo3" id="logo-3"></button></a>
         <a href="./my-projects"><button class="nav-button">MY PROJECTS</button></a>
         <a href="./new-projects"><button class="nav-button">CREATE</button></a>
         <a href="./login"><button class="nav-button-login">LOGIN</button></a>
    </nav>
</header>
<body>
   <div class="centered-content">
        <img src="{{ url_for('static', filename='logo1.png') }}" alt="logo1" id="logo-1"> <br>
        <span id="login/register-prompts">
            <h1>New to T-Web?</h1>
            <h2>Create an account</h2>
            <form action="#" id="register-prompt">
                <label>First Name:</label><br>
                <input type="text" placholder="First Name" name="first-name" class="input-field" aria-required="true">
                <br>
                <label>Last Name:</label><br>
                <input type="text" placholder="Last Name" name="last-name" class="input-field" aria-required="true">
                <br>
                <label>Email:</label><br>
                <input type="text" placholder="example@email.com" name="email" class="input-field" aria-required="true">
                <br>
                <label>Username:</label><br>
                <input type="text" placholder="Username" name="username" class="input-field" aria-required="true">
                <br>
                <label>Password:</label><br>
                <input type="password" placholder="Enter Password" name="psw" class="input-field" aria-required="true">
                <br>
                <label>Verify Password:</label><br>
                <input type="password" placholder="Verify Password" name="ver-psw" class="input-field" aria-required="true">
                <br>
            </form>
        </span>
   </div>
</body>
</html>
